version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: verifi-backend
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      args:
        - NEXT_PUBLIC_API_BASE_URL=http://backend:4000
    container_name: verifi-frontend
    ports:
      - "3001:3000"
    environment:
      - NODE_ENV=production
    depends_on:
      - backend
    restart: unless-stopped


